EXERCISE: LEVEL 1

1. Iterate 0 to 10

In [10]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [11]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
2. Iterate 10 to 0

In [12]:
for i in range(10, -1, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [13]:
i = 10
while i >= 0:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1
0

3. Triangle loop

In [7]:
for i in range(1, 8):
    print("#" * i)

#
##
###
####
#####
######
#######

4. Nested loop

In [6]:
for i in range(1, 8):
    print("# # # # # # # #")

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

5. Pattern loop

In [14]:
for i in range(11):
    print(f"{i} x {i} = {i * i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

6. Iterate list and print items

In [15]:
items = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for item in items:
    print(item)

Python
Numpy
Pandas
Django
Flask

7. Iterate 0 to 100 and print only even number

In [19]:
for i in range(101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

8. Iterate from 0 to 100 and print only odd numbers

In [20]:
for i in range(101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

EXERCISE: LEVEL 2

1. Loop 0 to 100 and print the sum of all numbers