In [6]:
import pandas as pd

In [7]:
print(pd.__version__)

2.2.2

In [8]:
import pandas as pd

print("Pandas version:", pd.__version__)

pd.show_versions()

Pandas version: 2.2.2

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.12.5.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.22631
machine               : AMD64
processor             : AMD64 Family 25 Model 116 Stepping 1, AuthenticAMD
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_Indonesia.1252

pandas                : 2.2.2
numpy                 : 1.26.4
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : 69.5.1
pip                   : 24.2
Cython                : None
pytest                : None
hypothesis            : None
sphinx                : None
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : None
html5lib              : None
pymysql               : 1.4.6
psycopg2              : 2.9.9
jinja2                : 3.1.3
IPython               : 8.21.0
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : None
dataframe-api-compat  : None
fastparquet           : None
fsspec                : 2024.2.0
gcsfs                 : None
matplotlib            : None
numba                 : None
numexpr               : None
odfpy                 : None
openpyxl              : None
pandas_gbq            : None
pyarrow               : None
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : None
scipy                 : None
sqlalchemy            : 2.0.30
tables                : None
tabulate              : None
xarray                : None
xlrd                  : None
zstandard             : None
tzdata                : 2024.1
qtpy                  : None
pyqt5                 : None

In [9]:
import pandas as pd
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

In [10]:
print("DataFrame Info:")
print(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [11]:
print("\nFirst 3 Rows:")
print(df.head(3))

First 3 Rows:
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [12]:
print("\n'Animal' and 'Age' Columns:")
print(df[['animal', 'age']])

'Animal' and 'Age' Columns:
  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

In [13]:
print("\nRows [3, 4, 8] and Columns ['animal', 'age']:")
print(df.loc[['d', 'e', 'i'], ['animal', 'age']])

Rows [3, 4, 8] and Columns ['animal', 'age']:
  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [14]:
print("\nRows with Visits > 3:")
print(df[df['visits'] > 3])

Rows with Visits > 3:
Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

In [15]:
print("\nRows with Missing Age:")
print(df[df['age'].isna()])

Rows with Missing Age:
  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [16]:
cat_age_lt_3 = df[(df['animal'] == 'cat') & (df['age'] < 3)]
print("\nRows where the animal is a cat and the age is less than 3:")
print(cat_age_lt_3)

Rows where the animal is a cat and the age is less than 3:
  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [17]:
age_between_2_and_4 = df[(df['age'] >= 2) & (df['age'] <= 4)]
print("\nRows where the age is between 2 and 4 (inclusive):")
print(age_between_2_and_4)

Rows where the age is between 2 and 4 (inclusive):
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [18]:
df.loc['f', 'age'] = 1.5
print("\nDataFrame after changing the age in row 'f' to 1.5:")
print(df)

DataFrame after changing the age in row 'f' to 1.5:
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [19]:
total_visits = df['visits'].sum()
print("\nTotal number of visits:")
print(total_visits)

Total number of visits:
19

In [20]:
mean_age_per_animal = df.groupby('animal')['age'].mean()
print("\nMean age for each different animal:")
print(mean_age_per_animal)

Mean age for each different animal:
animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

In [21]:
df.loc['k'] = ['rabbit', 4, 2, 'yes']
print("\nDataFrame with new row 'k':")
print(df)
df = df.drop('k')
print("\nDataFrame after deleting row 'k':")
print(df)

DataFrame with new row 'k':
   animal  age  visits priority
a     cat  2.5       1      yes
b     cat  3.0       3      yes
c   snake  0.5       2       no
d     dog  NaN       3      yes
e     dog  5.0       2       no
f     cat  1.5       3       no
g   snake  4.5       1       no
h     cat  NaN       1      yes
i     dog  7.0       2       no
j     dog  3.0       1       no
k  rabbit  4.0       2      yes

DataFrame after deleting row 'k':
  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [22]:
animal_counts = df['animal'].value_counts()
print("\nNumber of each type of animal:")
print(animal_counts)

Number of each type of animal:
animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

In [23]:
sorted_df = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print("\nDataFrame sorted by age (descending) and visits (ascending):")
print(sorted_df)

DataFrame sorted by age (descending) and visits (ascending):
  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no
h    cat  NaN       1      yes
d    dog  NaN       3      yes

In [24]:
df['priority'] = df['priority'] == 'yes'
print("\nDataFrame with 'priority' column replaced with boolean values:")
print(df)

DataFrame with 'priority' column replaced with boolean values:
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  1.5       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False

In [25]:
df['animal'] = df['animal'].replace('snake', 'python')
print("\nDataFrame with 'snake' entries changed to 'python':")
print(df)

DataFrame with 'snake' entries changed to 'python':
   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

In [26]:
pivot_table = pd.pivot_table(df, values='age', index='animal', columns='visits', aggfunc='mean')
print("\nPivot table showing mean age for each animal type and number of visits:")
print(pivot_table)

Pivot table showing mean age for each animal type and number of visits:
visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

In [27]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

In [28]:
filtered_df = df[df['A'] != df['A'].shift()]
print("Filtered DataFrame:")
print(filtered_df)

Filtered DataFrame:
   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [29]:
df = pd.DataFrame(np.random.random(size=(5, 3)))

df_centered = df.sub(df.mean(axis=1), axis=0)
print("DataFrame with row means subtracted:")
print(df_centered)

DataFrame with row means subtracted:
          0         1         2
0 -0.306827 -0.052411  0.359238
1 -0.526568  0.201563  0.325005
2  0.326800 -0.187963 -0.138837
3 -0.213803  0.399880 -0.186077
4 -0.067148  0.197190 -0.130041

In [30]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

smallest_sum_col = df.sum().idxmin()
print("Column with the smallest sum:")
print(smallest_sum_col)

Column with the smallest sum:
f

In [31]:
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

unique_row_count = df.drop_duplicates().shape[0]
print("Number of unique rows:")
print(unique_row_count)

Number of unique rows:
7

In [32]:
nan = np.nan

data = [[0.04,  np.nan,  np.nan, 0.25,  np.nan, 0.43, 0.71, 0.51,  np.nan,  np.nan],
        [ np.nan,  np.nan,  np.nan, 0.04, 0.76,  np.nan,  np.nan, 0.67, 0.76, 0.16],
        [ np.nan,  np.nan, 0.5 ,  np.nan, 0.31, 0.4 ,  np.nan,  np.nan, 0.24, 0.01],
        [0.49,  np.nan,  np.nan, 0.62, 0.73, 0.26, 0.85,  np.nan,  np.nan,  np.nan],
        [ np.nan,  np.nan, 0.41,  np.nan, 0.05,  np.nan, 0.61,  np.nan, 0.48, 0.68]]

columns = list('abcdefghij')
df = pd.DataFrame(data, columns=columns)

def find_third_nan_column(row):
    nan_indices = row.index[row.isna()].tolist()
    if len(nan_indices) >= 3:
        return nan_indices[2]
    return np.nan

third_nan_columns = df.apply(find_third_nan_column, axis=1)

print(third_nan_columns)

0    e
1    c
2    d
3    h
4    d
dtype: object

In [33]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
                   'vals': [12, 345, 3, 1, 45, 14, 4, 52, 54, 23, 235, 21, 57, 3, 87]})

result = df.groupby('grps')['vals'].apply(lambda x: x.nlargest(3).sum())

print(result)

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [34]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns=["A", "B"])

bins = range(0, 110, 10)

df['A_binned'] = pd.cut(df['A'], bins=bins)

result = df.groupby('A_binned')['B'].sum()

print(result)

A_binned
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
Name: B, dtype: int32

C:\Windows\Temp\ipykernel_14612\3917562003.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = df.groupby('A_binned')['B'].sum()